<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demoapp test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84B5C7FC1EEBBB0A00EF7768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B5C8131EEBBB0B00EF7768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B5C81E1EEBBB0C00EF7768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
